/*Reset and common Styles*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost",sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/*Ends of Reset and common Styles*/

/*Starts Section 01*/
.section_01 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.3)),url(img/bg_05.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;

}

.section_01_heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color: #e41c6f;
    padding: 0 3rem;
    margin-bottom: 5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 1rem #555;
    transform: skew(-10deg);    
}

.person_img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem dotted #e41c6f;
    background-color: rgba(255,255,255,0.7);
    padding: 0.5rem;
    opacity: 0.9;
}

.person_name {
    font-size: 2rem;
    color: #fff;
    background-color: #e41c6f;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.section_01_btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: .3rem solid #333;
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

/*Ends Section 01*/


/*Starts of Navbar*/
.navbar {
    width: 100%;
    height: 4rem;
    background-color: #e41c6f;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: absolute;
    z-index: 300;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar_link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.change.navbar_link{
    color: #fff;
}

.navbar_link:hover {
    color: #fff;
}

.navbar_link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;
}

.change.navbar_link::before{
    width: 130%;
}

.navbar_link:hover::before {
    width: 130%;
}

/*Ends of Navbar*/
/*Starts of Section_02*/

.section_02 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.progress_bar_wrapper {
    margin-bottom: 10rem;
}
.progress_bar {
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0 ;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    position: relative;
}
.progress_text {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.progress_text span {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress_percent {
    width: 0;
    height: 100%;
    background-color: #e41c6f;
    border-radius: 0.3rem;
    transition: width .5s .5s ease-in-out ;
}

.services {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555;
}
/*Ends of Section_02*/

/*Starts of Section_03*/

.section_03 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project_wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}

.project_text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
}

.project:hover .project_text {
    top: 5rem;
    transition: top .3s .3s;
}

.projet_name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;

}

.project_technologies {
    font-size: 1.8rem;
    color: #e41c6f;

}

.project_img {
    width: 40rem;
    transition: opacity 0.3s;
}

.project:hover .project_img {
    opacity: 0.2;
}

.project_link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid #e41c6f;
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}

.project:hover .project_link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}

        
/*Ends of Section_03*/


/*Stars of Section_04*/

.section_04 {
    width: 100%;
    height: 85vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section_04_heading {
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom: 5rem;
}

.contact_form {
    width: 50rem;
    flex-direction: column;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid #e41c6f;
    color: #555;
}

.contact_form textarea  {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact_form .contact_form_btn {
    background-color: #e41c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}


/*Ends of Section_04*/


/*Starts of Section_05*/

.section_05 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social_media {
    margin-bottom: 5rem;
}

.social_media_link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display: inline-block;
}

.social_media_link i {
    font-size: 3rem;
    color: #fff;
}

.copy_right {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
}


/*Ends of Section_05*/


/*Starts of Responsive*/
@media(max-width:1200px){
    .services {
        height: auto;
        flex-wrap: wrap;
    }

    .service {
        margin: 3rem 2rem;
    }

    .section_04 {
        height: 80vh;
    }
}
@media(max-width:800px) {
    .section_01_heading {
        font-size: 4rem;
    }

    .progress_bar {
        width: 50rem;
    }
}

@media(max-width:600px){
    .section_01_heading {
        font-size: 3rem;
    }

    .navbar_link {
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .section_02 {
        padding: 10rem;
    }

    .section_02_heading {
        margin-bottom: 10rem;
    }
    .progress_bar {
        width: 45rem;
    }

    .project_img {
        width: 100%;
    }
    
    .contact_form {
        width: 40rem;
    }

    .copy_right {
        width: 70%;
    }
}

@media(max-width:500px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:450px) {
    html {
        font-size: 45%;
    }

    .section_01_heading {
        font-size: 2.5rem;
    }

    .navbar_link {
        margin: 0 1.5rem;
    }

    .section_02_heading {
        text-align: center;
    }

    .progress_bar {
        width: 40rem;
    }
}

/*Ends of Responsive*/


